.container{
  display:grid;
  grid-template-columns:1fr 1fr;
}

@media(max-width:600px){
  .container{
    grid-template-columns:1fr;
  }
}

.card:hover{
  transform:translateY(-5px);
  transition:0.3s;
}
